<div class="container">
    <ul class="nav nav-tabs">
        <li role="presentation">
            <a ui-sref="settings_points_configuration">{{'POINTS_STRATEGY' | translate}}</a>
        </li>
        <li role="presentation" class="active">
            <a ui-sref="settings_users">{{'USERS' | translate}}</a>
        </li>
        <li role="presentation">
            <a ui-sref="settings_my_logo">{{'LOGO' | translate}}</a>
        </li>
    </ul>

    <a ui-sref="settings_users"><- {{'BACK_TO_LIST' | translate}}</a>

    <form class="form-login" ng-submit="processForm()">
        <h2 class="form-login-heading">{{'ADD_A_USER' | translate}}</h2>
        <label for="name" class="sr-only">{{'USER_NAME' | translate}}</label>
        <input type="text" name="name" id="name" class="form-control" placeholder="{{'USER_NAME' | translate}}" autofocus
               required title="{{'USER_NAME' | translate}}" ng-model="formData.name">
        <label for="email" class="sr-only">{{'EMAIL' | translate}}</label>
        <input type="text" name="email" id="email" class="form-control" placeholder="{{'EMAIL' | translate}}"
               required title="{{'EMAIL' | translate}}" ng-model="formData.email">

        <button type="submit" class="btn btn-lg btn-primary btn-block">NOT SUPPORTED YET</button>
    </form>
    <div ng-include="'/templates/common/messageHandling.html'"></div>
</div>