<form class="form-login" ng-submit="processForm()">
    <h1>Leal Points</h1>
    <h4 class="form-login-heading">{{'PLEASE_CHANGE_YOUR_PASSWORD' | translate}}</h4>

    <label for="password" class="sr-only">{{'NEW_PASSWORD' | translate}}</label>
    <input type="password" name="password" id="password" class="form-control" placeholder="{{'NEW_PASSWORD' | translate}}"
            required title="{{'NEW_PASSWORD' | translate}}" autofocus="" ng-model="formData.newPassword" />

    <label for="password_confirmation" class="sr-only">{{'CONFIRM_PASSWORD' | translate}}</label>
    <input type="password" name="password_confirmation" id="password_confirmation" class="form-control" placeholder="{{'CONFIRM_PASSWORD' | translate}}"
            required title="{{'CONFIRM_PASSWORD' | translate}}" ng-model="formData.passwordConfirmation" />

    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="isProcessing">{{'CHANGE_PASSWORD' | translate}}</button>
</form>
<div ng-include="'/templates/common/messageHandling.html'"></div>