<nav class="navbar navbar-default  navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="points">Leal Points</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
<!--                <li ng-class="{ active: isActive('/home')}">
                    <a ui-sref="home">{{'HOME' | translate}}</a>
                </li>-->
                <li ng-class="{ active: isActive('/points')}">
                    <a ui-sref="points">{{'AWARD_POINTS' | translate}}</a>
                </li>
                <li ng-class="{ active: isActive('/promotions')}">
                    <a ui-sref="promotions">{{'APPLY_PROMOTION' | translate}}</a>
                </li>
                <li ng-class="{ active: isActive('/clients')}">
                    <a ui-sref="clients">{{'CLIENTS' | translate}}</a>
                </li>
                <li ng-class="{ active: isActive('/settings') ||
                isActive('/settings/points_configuration') ||
                isActive('/settings/promotions') ||
                isActive('/settings/my_logo') ||
                isActive('/settings/promotions/add')}">
                    <a ui-sref="settings">{{'SETTINGS' | translate}}</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a ui-sref="logout">{{'LOGOUT' | translate}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>