<div class="container">
    <ul class="nav nav-tabs">
        <li role="presentation">
            <a ui-sref="settings_points_configuration">{{'POINTS_STRATEGY' | translate}}</a>
        </li>
        <li role="presentation" class="active">
            <a ui-sref="settings_promotions">{{'PROMOTION_LIST' | translate}}</a>
        </li>
        <li role="presentation">
            <a ui-sref="settings_my_logo">{{'LOGO' | translate}}</a>
        </li>
    </ul>

    <a ui-sref="settings_promotions_add">{{'ADD_NEW_PROMOTION' | translate}}</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{'DESCRIPTION' | translate}}</th>
                <th>{{'REQUIRED_POINTS' | translate}}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="promotion in promotions">
                <td>{{promotion.description}}</td>
                <td>{{promotion.requiredPoints}}</td>
                <td>
                    <button type="submit" class="btn btn-danger" ng-click="deletePromotion($index, true)">{{'DELETE' | translate}}</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div ng-include="'/templates/common/messageHandling.html'"></div>
</div>