<a ui-sref="clients"><- {{'BACK_TO_LIST' | translate}}</a>

<form class="form-login" ng-submit="processForm()">
    <div class="form-group">
        <label for="phone" class="sr-only">{{'PHONE_NUMBER' | translate}}</label>
    <input type="text" class="form-control" name="phone" id="phone" placeholder="{{'PHONE_NUMBER' | translate}}" autofocus
            required title="{{'PHONE_NUMBER' | translate}}" ng-model="formData.phone" />
    </div>
    <button type="submit" class="btn btn-lg btn-primary btn-block">{{'REGISTER' | translate}}</button>
</form> <br/>
<div ng-include="'/templates/common/messageHandling.html'"></div>